--
-- PostgreSQL database dump
--

-- Dumped from database version 12.16
-- Dumped by pg_dump version 12.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assessment_category_outcome; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessment_category_outcome (
    id integer NOT NULL,
    assessment_id integer NOT NULL,
    assessee_id integer NOT NULL,
    assessee_name text NOT NULL,
    template_id integer NOT NULL,
    template_name text NOT NULL,
    attempt_seq integer DEFAULT 1 NOT NULL,
    category_id integer NOT NULL,
    category_title text NOT NULL,
    total_questions integer DEFAULT 0,
    answered_questions integer DEFAULT 0,
    right_count integer DEFAULT 0,
    partial_count integer DEFAULT 0,
    wrong_count integer DEFAULT 0,
    avg_score numeric(5,2)
);


ALTER TABLE public.assessment_category_outcome OWNER TO postgres;

--
-- Name: assessment_category_outcome_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.assessment_category_outcome_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.assessment_category_outcome_id_seq OWNER TO postgres;

--
-- Name: assessment_category_outcome_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.assessment_category_outcome_id_seq OWNED BY public.assessment_category_outcome.id;


--
-- Name: assessmentanswers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessmentanswers (
    id integer NOT NULL,
    assessment_id integer,
    question_id integer,
    answer text,
    comment text,
    score_obtained numeric,
    category_id integer
);


ALTER TABLE public.assessmentanswers OWNER TO postgres;

--
-- Name: assessmentanswers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.assessmentanswers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.assessmentanswers_id_seq OWNER TO postgres;

--
-- Name: assessmentanswers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.assessmentanswers_id_seq OWNED BY public.assessmentanswers.id;


--
-- Name: assessmentcategories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessmentcategories (
    id integer NOT NULL,
    template_id integer,
    title text NOT NULL,
    description text,
    num_questions integer DEFAULT 0
);


ALTER TABLE public.assessmentcategories OWNER TO postgres;

--
-- Name: assessmentcategories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.assessmentcategories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.assessmentcategories_id_seq OWNER TO postgres;

--
-- Name: assessmentcategories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.assessmentcategories_id_seq OWNED BY public.assessmentcategories.id;


--
-- Name: assessmentquestions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessmentquestions (
    id integer NOT NULL,
    category_id integer,
    question_text text NOT NULL
);


ALTER TABLE public.assessmentquestions OWNER TO postgres;

--
-- Name: assessmentquestions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.assessmentquestions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.assessmentquestions_id_seq OWNER TO postgres;

--
-- Name: assessmentquestions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.assessmentquestions_id_seq OWNED BY public.assessmentquestions.id;


--
-- Name: assessments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessments (
    id integer NOT NULL,
    template_id integer,
    started_at timestamp without time zone,
    completed_at timestamp without time zone,
    final_score numeric,
    comment text,
    assessor_name text,
    assessee_name text,
    assessee_id integer
);


ALTER TABLE public.assessments OWNER TO postgres;

--
-- Name: assessments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.assessments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.assessments_id_seq OWNER TO postgres;

--
-- Name: assessments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.assessments_id_seq OWNED BY public.assessments.id;


--
-- Name: assessmenttemplates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessmenttemplates (
    id integer NOT NULL,
    name text NOT NULL,
    created_by text,
    created_at timestamp without time zone,
    description text,
    role text,
    subrole text,
    "position" text
);


ALTER TABLE public.assessmenttemplates OWNER TO postgres;

--
-- Name: assessmenttemplates_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.assessmenttemplates_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.assessmenttemplates_id_seq OWNER TO postgres;

--
-- Name: assessmenttemplates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.assessmenttemplates_id_seq OWNED BY public.assessmenttemplates.id;


--
-- Name: profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.profiles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.profiles_id_seq OWNER TO postgres;

--
-- Name: profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profiles (
    id integer DEFAULT nextval('public.profiles_id_seq'::regclass) NOT NULL,
    full_name text NOT NULL,
    subrole text,
    role text,
    phone text,
    email text,
    created_at timestamp without time zone,
    channel_manager_id integer,
    national_supervisor_id integer,
    supervisor_id integer,
    "position" text,
    date_joined date,
    zone text
);


ALTER TABLE public.profiles OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer DEFAULT nextval('public.users_id_seq'::regclass) NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    role text,
    created_at timestamp without time zone,
    subrole text,
    "position" text,
    channel_manager_id integer,
    national_supervisor_id integer,
    supervisor_id integer
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_backup_before_hash; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_backup_before_hash (
    id integer,
    username text,
    password text,
    role text,
    created_at timestamp without time zone,
    subrole text,
    "position" text,
    channel_manager_id integer,
    national_supervisor_id integer,
    supervisor_id integer
);


ALTER TABLE public.users_backup_before_hash OWNER TO postgres;

--
-- Name: assessment_category_outcome id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_category_outcome ALTER COLUMN id SET DEFAULT nextval('public.assessment_category_outcome_id_seq'::regclass);


--
-- Name: assessmentanswers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessmentanswers ALTER COLUMN id SET DEFAULT nextval('public.assessmentanswers_id_seq'::regclass);


--
-- Name: assessmentcategories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessmentcategories ALTER COLUMN id SET DEFAULT nextval('public.assessmentcategories_id_seq'::regclass);


--
-- Name: assessmentquestions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessmentquestions ALTER COLUMN id SET DEFAULT nextval('public.assessmentquestions_id_seq'::regclass);


--
-- Name: assessments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessments ALTER COLUMN id SET DEFAULT nextval('public.assessments_id_seq'::regclass);


--
-- Name: assessmenttemplates id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessmenttemplates ALTER COLUMN id SET DEFAULT nextval('public.assessmenttemplates_id_seq'::regclass);


--
-- Data for Name: assessment_category_outcome; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: assessmentanswers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: assessmentcategories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: assessmentquestions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: assessments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: assessmenttemplates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users_backup_before_hash; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: assessment_category_outcome_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assessment_category_outcome_id_seq', 137, true);


--
-- Name: assessmentanswers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assessmentanswers_id_seq', 487, true);


--
-- Name: assessmentcategories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assessmentcategories_id_seq', 126, true);


--
-- Name: assessmentquestions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assessmentquestions_id_seq', 412, true);


--
-- Name: assessments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assessments_id_seq', 21, true);


--
-- Name: assessmenttemplates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assessmenttemplates_id_seq', 48, true);


--
-- Name: profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.profiles_id_seq', 158, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 61, true);


--
-- Name: assessment_category_outcome assessment_category_outcome_assessment_id_category_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_category_outcome
    ADD CONSTRAINT assessment_category_outcome_assessment_id_category_id_key UNIQUE (assessment_id, category_id);


--
-- Name: assessment_category_outcome assessment_category_outcome_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_category_outcome
    ADD CONSTRAINT assessment_category_outcome_pkey PRIMARY KEY (id);


--
-- Name: assessmentanswers assessmentanswers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessmentanswers
    ADD CONSTRAINT assessmentanswers_pkey PRIMARY KEY (id);


--
-- Name: assessmentcategories assessmentcategories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessmentcategories
    ADD CONSTRAINT assessmentcategories_pkey PRIMARY KEY (id);


--
-- Name: assessmentquestions assessmentquestions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessmentquestions
    ADD CONSTRAINT assessmentquestions_pkey PRIMARY KEY (id);


--
-- Name: assessments assessments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_pkey PRIMARY KEY (id);


--
-- Name: assessmenttemplates assessmenttemplates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessmenttemplates
    ADD CONSTRAINT assessmenttemplates_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: assessment_category_outcome assessment_category_outcome_assessee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_category_outcome
    ADD CONSTRAINT assessment_category_outcome_assessee_id_fkey FOREIGN KEY (assessee_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: assessment_category_outcome assessment_category_outcome_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_category_outcome
    ADD CONSTRAINT assessment_category_outcome_assessment_id_fkey FOREIGN KEY (assessment_id) REFERENCES public.assessments(id) ON DELETE CASCADE;


--
-- Name: assessment_category_outcome assessment_category_outcome_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_category_outcome
    ADD CONSTRAINT assessment_category_outcome_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.assessmentcategories(id) ON DELETE CASCADE;


--
-- Name: assessment_category_outcome assessment_category_outcome_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_category_outcome
    ADD CONSTRAINT assessment_category_outcome_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.assessmenttemplates(id) ON DELETE CASCADE;


--
-- Name: assessmentanswers assessmentanswers_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessmentanswers
    ADD CONSTRAINT assessmentanswers_assessment_id_fkey FOREIGN KEY (assessment_id) REFERENCES public.assessments(id) ON DELETE CASCADE;


--
-- Name: assessmentanswers assessmentanswers_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessmentanswers
    ADD CONSTRAINT assessmentanswers_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.assessmentquestions(id) ON DELETE CASCADE;


--
-- Name: assessmentcategories assessmentcategories_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessmentcategories
    ADD CONSTRAINT assessmentcategories_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.assessmenttemplates(id) ON DELETE CASCADE;


--
-- Name: assessmentquestions assessmentquestions_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessmentquestions
    ADD CONSTRAINT assessmentquestions_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.assessmentcategories(id) ON DELETE CASCADE;


--
-- Name: assessments assessments_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.assessmenttemplates(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

